// @import '~antd/dist/antd.css';
.home {
    font-size: 24px;
    background-color: #f5f5f9;
    .am-navbar {
        height: 0.95rem;
    }
}

.menu-wrap {
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
  .am-wingblank.am-wingblank-lg{
    margin: 0;
  }
    .memu {
        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        // position: absolute;
        .item {
            text-align: center;
            width: 25%;
            padding: 0 0.24rem;
            box-sizing: border-box;
            padding-top: 20px;
            font-size: 16px;
            img {
                width: 1rem;
                margin: 0 auto;
                display: block;
            }
        }
    }
    .slider-decorator-0 {
        bottom: -28px !important;
        .am-carousel-wrap-dot>span {
            width: 0.16rem;
            height: 0.16rem;
            border-radius: 50%;
        }
        .am-carousel-wrap-dot-active>span {
            background-color: #108ee9;
        }
    }
}